{
    "extends": "standard",
    "parser": "@babel/eslint-parser",
    "rules": {
        "indent": "off",
        "import/order": "error",
        "comma-dangle": "off",
        "space-before-function-paren": "off"
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true
    }
}
