{
    "extends": "standard",
    "parser": "@babel/eslint-parser",
    "rules": {
        "indent": "off",
        "import/order": "error"
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true
    }
}
