{
    "extends": "standard",
    "parser": "@babel/eslint-parser",
    "rules": {
        "indent": ["error", 4]
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true
    }
}
