.DS_Store
*.pem
jshint_log.txt
node_modules
npm-debug.log
.cache
*.map
public/js/*.*
public/css/*.*
*.swp
*.swo
__diff_output__
/test-results/
/playwright-report/
/playwright/.cache/
build/
/.build
.swiftpm/xcode/xcuserdata
build/app_backup
bslive.yml
.vscode
/json-reports