.breakage-screen {
    max-height: 100vh;

    &--choice {
        padding-bottom: 16px;
    }

    /* Prevents macOS popover from shrinking too much */
    .environment--macos &--form {
        min-height: 500px;
    }
}

.breakage-form__close-container {
    top: 13px;
    right: 15px;
    position: absolute;
}

.form__icon--wrapper {
    padding-bottom: 5px;
    margin: 0 20px;
    position: relative;
}

.breakage-form__element {
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &.is-transparent {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
}

.breakage-form__title {
    padding: 5px 0 0;
}

.breakage-form__advise {
    display: none;
    [data-state='idle'] & {
        display: block;
    }
}

.form__label__select {
    display: block;
    text-align: left;
}

.form__select {
    width: 100%;
}

.form__select select {
    cursor: pointer;
    display: block;
    width: 100%;
    min-height: 20px;
    border: 1px solid var(--color-lines-light);
    border-radius: 4px;

    .environment--ios & {
        height: 34px;
    }
    .environment--windows & {
        min-height: 34px;
    }
}

.form__error-message {
    color: #eb102d;
    font-size: 12px;
    line-height: calc(16 / 12);
    padding: 0 16px;

    .body--theme-dark & {
        color: #ff545a;
    }
}

.form__description-prompt {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: calc(16 / 12);
    list-style: none;

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.5);
    }

    li {
        display: inline;
    }

    li::after {
        content: ' ';
    }
}

/* TODO: Move button to shared component, primary variant */
.form__submit {
    --submit-button-background: var(--color-accent-blue);
    --submit-button-border-radius: 8px;
    --submit-button-border: none;
    --submit-button-box-shadow: none;
    --submit-button-color: var(--color-button-primary);
    --submit-button-font-size: 15px;
    --submit-button-font-weight: 600;
    --submit-button-height: 50px;
    --submit-button-line-height: calc(20 / 15);
    --submit-button-opacity: 1;
    --submit-button-padding: 0 24px;

    background: var(--submit-button-background);
    border: var(--submit-button-border);
    border-radius: var(--submit-button-border-radius);
    box-shadow: var(--submit-button-box-shadow);
    color: var(--submit-button-color);
    font-size: var(--submit-button-font-size);
    font-weight: var(--submit-button-font-weight);
    height: var(--submit-button-height);
    line-height: var(--submit-button-line-height);
    opacity: var(--submit-button-opacity);
    padding: var(--submit-button-padding);

    cursor: pointer;
    display: block;
    font-family: $font__face--default;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
        --submit-button-background: var(--color-blue-60);
    }

    &:active {
        --submit-button-background: var(--color-blue-70);
    }

    &:disabled {
        --submit-button-background: rgba(0, 0, 0, 0.06);
        --submit-button-color: rgba(0, 0, 0, 0.36);
        cursor: default;
    }

    .body--theme-dark & {
        &:hover {
            --submit-button-background: var(--color-blue-40);
        }

        &:active {
            --submit-button-background: var(--color-blue-50);
        }

        &:disabled {
            --submit-button-background: rgba(255, 255, 255, 0.18);
            --submit-button-color: rgba(255, 255, 255, 0.36);
        }
    }

    /* Platform-specific button styles */
    .environment--android & {
        --submit-button-font-size: 15px;
        --submit-button-font-weight: 700;
        --submit-button-line-height: calc(20 / 15);
        --submit-button-height: 48px;
    }

    .environment--browser & {
        --submit-button-font-size: 16px;
        --submit-button-font-weight: 700;
        --submit-button-line-height: normal;
        --submit-button-height: 44px;
        --submit-button-padding: 0 20px;
    }

    .environment--ios & {
        --submit-button-font-size: 15px;
        --submit-button-font-weight: 600;
        --submit-button-line-height: calc(20 / 15);
        --submit-button-height: 50px;
    }

    .environment--macos & {
        --submit-button-background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), #2749db;
        --submit-button-border-radius: 6px;
        --submit-button-box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0) inset,
            0px 0px 0px 0.5px rgba(0, 122, 255, 0.05), 0px 0px 1px 0px rgba(0, 122, 255, 0.05), 0px 1px 1px 0px rgba(0, 122, 255, 0.1);
        --submit-button-color: #fff;
        --submit-button-font-size: 13px;
        --submit-button-font-weight: 400;
        --submit-button-height: 32px;
        --submit-button-line-height: 1;
        --submit-button-padding: 0 16px;

        &:focus {
            --submit-button-box-shadow: 0px 0px 0px 2.5px rgba(57, 105, 239, 0.55), 0px 0px 0px 1px rgba(57, 105, 239, 0.55) inset,
                0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
        }

        &:active {
            --submit-button-background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), #1743d1;
            --submit-button-box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0) inset,
                0px 0px 0px 0.5px rgba(0, 122, 255, 0.05), 0px 0px 1px 0px rgba(0, 122, 255, 0.05), 0px 1px 1px 0px rgba(0, 122, 255, 0.1);
            --submit-button-color: rgba(255, 255, 255, 0.8);
        }

        &:disabled {
            --submit-button-background: #fff;
            --submit-button-box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset,
                0px 0px 0px 0.5px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
            --submit-button-color: rgba(0, 0, 0, 0.84);
            --submit-button-opacity: 0.4;
        }

        @at-root .body--theme-dark#{&} {
            --submit-button-background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), #2749db;
            --submit-button-box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset,
                0px 0px 0px 0.5px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.15);

            &:focus {
                --submit-button-box-shadow: 0px 0px 0px 2.5px rgba(57, 105, 239, 0.55), 0px 0px 0px 1px rgba(57, 105, 239, 0.55) inset,
                    0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
            }

            &:active {
                --submit-button-background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), #3259c9;
                --submit-button-box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset,
                    0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 0px 0.5px rgba(0, 0, 0, 0.1),
                    0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
                --submit-button-color: rgba(255, 255, 255, 0.8);
            }

            &:disabled {
                --submit-button-background: rgba(255, 255, 255, 0.28);
                --submit-button-box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset,
                    0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 0px 0.5px rgba(0, 0, 0, 0.1),
                    0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
                --submit-button-color: rgba(255, 255, 255, 0.84);
            }
        }
    }

    .environment--windows & {
        --submit-button-border-radius: 6px;
        --submit-button-font-size: 14px;
        --submit-button-font-weight: 400;
        --submit-button-line-height: normal;
        --submit-button-height: 40px;
        --submit-button-padding: 0 16px;

        &:focus {
            --submit-button-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px var(--color-blue-50);
        }

        &:active {
            --submit-button-box-shadow: none;
        }

        &:disabled {
            --submit-button-background: rgba(0, 0, 0, 0.36);
            --submit-button-color: rgba(255, 255, 255, 0.4);
        }

        @at-root .body--theme-dark#{&} {
            --submit-button-background: var(--color-blue-20);

            &:hover {
                --submit-button-background: var(--color-blue-30);
            }

            &:focus {
                --submit-button-box-shadow: 0px 0px 0px 1px #0b2059, 0px 0px 0px 3px #fff;
            }

            &:active {
                --submit-button-background: var(--color-blue-40);
                --submit-button-box-shadow: none;
            }

            &:disabled {
                --submit-button-background: rgba(255, 255, 255, 0.36);
                --submit-button-color: rgba(0, 0, 0, 0.84);
            }
        }
    }
}

.breakage-form__footer {
    position: sticky;
    bottom: 0;
    background-color: var(--page-bg);
    margin-inline: -16px;
    padding: 16px;
    margin-top: -16px;
}

.breakage-form__inner {
    display: flex;
    flex-direction: column;
}

.thanks {
    text-align: center;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    display: none;

    [data-state='sent'] & {
        display: block;
    }
}

.thanks__primary {
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 133.333% */
    margin-bottom: 8px;

    .environment--macos &,
    .environment--macos & {
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 129.412% */
    }
}
.thanks__secondary {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    .environment--macos & {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

/* Disclosure Message */

.disclosure-message {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    .body--theme-dark & {
        border-color: rgba(255, 255, 255, 0.18);
    }

    .control__text--open {
        display: none;
    }

    &[open] {
        .control__text--open {
            display: inline;
        }

        .control__text--closed {
            display: none;
        }

        .control__chevron {
            transform: rotate(180deg);
        }
    }
}

.disclosure-message__summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-height: 48px;

    padding-inline: 16px;
    position: sticky;
    top: 0;

    &::marker,
    &::-webkit-details-marker {
        display: none;
    }
}

.disclosure-message__control {
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    gap: 4px;

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.6);
    }
}

.control__text {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: calc(20 / 14);
}

.control__chevron {
    height: 18px;
    width: 18px;
}

.disclosure-message__content {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    line-height: calc(18 / 13);

    overflow-y: auto;
    padding-inline: 16px;
    padding-block: 0 16px;

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.6);
    }
}

.disclosure-message__title {
    font-size: 14px;
    font-weight: 600;
    line-height: calc(20 / 14);
}

.success__container {
    display: flex;
    flex-flow: column;
    gap: 8px;
    align-items: center;
    text-align: center;
    padding: 0 16px 24px;
}

.success__icon {
    background: url('../../img/refresh-assets/Success-128.svg') no-repeat;
    height: 106px;
    width: 128px;
}

.success__message {
    white-space: pre-line;
}
