.environment--android {
    --btn-accent-bg: #3969ef;
    --btn-accent-bg-hover: #1e42a4;
    --btn-accent-bg-active: #1e42a4;
    --btn-accent-color: #fff;
    --form-select-bg: none;
    --form-select-color: rgba(0, 0, 0, 0.6);
    --form-select-border-color: rgba(0, 0, 0, 0.3);
    --form-select-chevron: url('../../img/refresh-assets/chevron.svg');

    /**
     * prevent the empty element from taking any screen height
     */
    ddg-android-breakage-dialog {
        position: absolute;
    }

    .breakage-form {
        .form__submit {
            height: calc(var(--size-unit) * 3);
        }

        .breakage-form__input--dropdown {
            position: relative;

            select {
                appearance: none;
                background: var(--form-select-bg);
                border: 1px solid var(--form-select-border-color);
                border-radius: var(--size-unit-half);
                color: var(--form-select-color);
                font-size: var(--size-unit);
                padding: var(--size-unit);
                /**
                 * By setting this, android will never try to invoke the native select menu
                 */
                pointer-events: none;
            }

            &::after {
                content: '';
                position: absolute;
                right: var(--size-unit);
                top: calc(1.25 * var(--size-unit));
                background-image: var(--form-select-chevron);
                width: 8px;
                height: 14px;
                transform: rotate(90deg);
                opacity: 0.75;
            }
        }

        textarea {
            border-radius: var(--size-unit-half);
            border-color: var(--form-select-border-color);
            font-size: var(--size-unit);
            line-height: 1.25;
            height: calc(var(--size-unit) * 7);
            padding: var(--size-unit);
        }

        .breakage-form__content.padding-x-double {
            padding-left: var(--size-unit);
            padding-right: var(--size-unit);
        }
    }

    &.body--theme-dark {
        --btn-accent-bg: #7295f6;
        --btn-accent-bg-hover: #3969ef;
        --btn-accent-bg-active: #3969ef;
        --btn-accent-color: rgba(0, 0, 0, 0.84);

        --form-select-bg: rgba(255, 255, 255, 0.12);
        --form-select-color: rgba(255, 255, 255, 0.9);
        --form-select-border-color: rgba(255, 255, 255, 0.3);
        --form-select-chevron: url('../../img/refresh-assets/chevron--light.svg');
    }
}
