.breakage-screen {
    &--choice {
        padding-bottom: 16px;
    }

    &--form {
        height: 100%;
    }
}

.breakage-form__close-container {
    top: 13px;
    right: 15px;
    position: absolute;
}

.form__icon--wrapper {
    padding-bottom: 5px;
    margin: 0 20px;
    position: relative;
}

.breakage-form__element {
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &.is-transparent {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
}

.breakage-form__title {
    padding: 5px 0 0;
}

.breakage-form__advise {
    display: none;
    [data-state='idle'] & {
        display: block;
    }
}

.form__label__select {
    display: block;
    text-align: left;
}

.form__select {
    width: 100%;
}

.form__select select {
    cursor: pointer;
    display: block;
    width: 100%;
    min-height: 20px;
    border: 1px solid var(--color-lines-light);
    border-radius: 4px;

    .environment--ios & {
        height: 34px;
    }
    .environment--windows & {
        min-height: 34px;
    }
}

.form__error-message {
    color: #eb102d;
    font-size: 12px;
    line-height: calc(16 / 12);
    padding: 0 16px;

    .body--theme-dark & {
        color: #ff545a;
    }
}

.form__description-prompt {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: calc(16 / 12);
    list-style: none;

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.5);
    }

    li {
        display: inline;
    }

    li::after {
        content: ' ';
    }
}

.form__submit {
    text-align: center;
    padding: 10px 12px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 100%;

    box-shadow: var(--btn-accent-shadow);
    border-radius: var(--btn-accent-border-radius);
    border: var(--btn-accent-border);
    color: var(--btn-accent-color);
    background: var(--btn-accent-bg);

    &:hover {
        background: var(--btn-accent-bg-hover);
    }
    &:active {
        background: var(--btn-accent-bg-active);
    }

    /* https://www.figma.com/file/DBZiXJRgTTJTuBeWAPyE5h/Desktop-Components?node-id=9113%3A130956&t=de8DMDVt8GbRBQub-0 */
    .environment--windows & {
        /* Windows/Label */
        box-shadow: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        border-radius: 4px;

        &:focus {
            /* todo(Shane): where does this live? */
            box-shadow: 0px 0px 0px 1px #ffffff, 0px 0px 0px 3px #3969ef;
        }

        &:active {
            box-shadow: none;
        }
    }
}

.breakage-form__footer {
    position: sticky;
    bottom: 0;
    background-color: var(--page-bg);
    margin-inline: -16px;
    padding: 16px;
    margin-top: -16px;
}

.breakage-form__inner {
    // height: calc(100% - var(--nav-height));
    display: flex;
    flex-direction: column;
}

.thanks {
    text-align: center;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    display: none;

    [data-state='sent'] & {
        display: block;
    }
}

.thanks__primary {
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 133.333% */
    margin-bottom: 8px;

    .environment--macos &,
    .environment--macos & {
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 129.412% */
    }
}
.thanks__secondary {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    .environment--macos & {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

/* Disclosure Message */

.disclosure-message {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    .body--theme-dark & {
        border-color: rgba(255, 255, 255, 0.18);
    }

    .control__text--open {
        display: none;
    }

    &[open] {
        .control__text--open {
            display: inline;
        }

        .control__text--closed {
            display: none;
        }

        .control__chevron {
            transform: rotate(180deg);
        }
    }
}

.disclosure-message__summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-height: 48px;

    padding-inline: 16px;
    position: sticky;
    top: 0;

    &::marker,
    &::-webkit-details-marker {
        display: none;
    }
}

.disclosure-message__control {
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    gap: 4px;

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.6);
    }
}

.control__text {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: calc(20 / 14);
}

.control__chevron {
    height: 18px;
    width: 18px;
}

.disclosure-message__content {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    line-height: calc(18 / 13);

    overflow-y: auto;
    padding-inline: 16px;
    padding-block: 0 16px;

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.6);
    }
}

.disclosure-message__title {
    font-size: 14px;
    font-weight: 600;
    line-height: calc(20 / 14);
}

.success__container {
    display: flex;
    flex-flow: column;
    gap: 8px;
    align-items: center;
    text-align: center;
    padding: 0 16px 24px;
}

.success__icon {
    background: url('../../img/refresh-assets/Success-128.svg') no-repeat;
    height: 106px;
    width: 128px;
}

.success__message {
    white-space: pre-line;
}
