.breakage-form {
    padding-bottom: var(--size-unit);
}

.breakage-form__content {
    z-index: 1;
    position: relative;
    text-align: center;

    [data-state='sent'] & {
        display: none;
    }
}

.breakage-form__close-container {
    top: 13px;
    right: 15px;
    position: absolute;
}

.form__icon--wrapper {
    padding-bottom: 5px;
    margin: 0 20px;
    position: relative;
}

.breakage-form__element {
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &.is-transparent {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
}

.breakage-form__title {
    padding: 5px 0 0;
}

.breakage-form__advise {
    display: none;
    [data-state='idle'] & {
        display: block;
    }
}
.breakage-form__message {
    text-align: center;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    display: none;

    .token-title-3-em {
        margin-bottom: 8px;
    }

    [data-state='sent'] & {
        display: block;
    }
}

.breakage-form__success--title {
    padding-top: 15px;
}

.breakage-form__success--message {
    padding: 15px;
}

.form__label__select {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.form__group {
    margin-bottom: 20px;
}

.form__select {
    margin-bottom: 10px;
    width: 100%;
}

.form__select select {
    cursor: pointer;
    display: block;
    width: 100%;
    min-height: 2em;
    border: 1px solid var(--color-lines-light);
    border-radius: 4px;
    margin: 0;
    margin-bottom: var(--size-unit);

    .environment--windows & {
        min-height: 34px;
    }
}

.form__textarea {
    resize: none;
    width: 100%;
    height: 88px;
    display: block;
    box-sizing: border-box;
    margin-bottom: var(--size-unit);
    padding: var(--size-unit-half);
    border: 1px solid var(--color-lines-light);
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;

    .body--theme-dark & {
        background-color: $dark-mode-white;
        border-color: var(--color-lines-light);
    }
}

.form__submit {
    text-align: center;
    padding: 10px 12px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 100%;

    box-shadow: var(--btn-accent-shadow);
    border-radius: var(--btn-accent-border-radius);
    border: var(--btn-accent-border);
    color: var(--btn-accent-color);
    background: var(--btn-accent-bg);

    &:hover {
        background: var(--btn-accent-bg-hover);
    }
    &:active {
        background: var(--btn-accent-bg-active);
    }

    /* https://www.figma.com/file/DBZiXJRgTTJTuBeWAPyE5h/Desktop-Components?node-id=9113%3A130956&t=de8DMDVt8GbRBQub-0 */
    .environment--windows & {
        /* Windows/Label */
        box-shadow: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        border-radius: 4px;

        &:focus {
            /* todo(Shane): where does this live? */
            box-shadow: 0px 0px 0px 1px #ffffff, 0px 0px 0px 3px #3969ef;
        }

        &:active {
            box-shadow: none;
        }
    }
}

.breakage-form__footer {
    padding: 0 5px;

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.5);
    }
}
