.breakage-form {
    height: 100%;

    .environment--browser & {
        padding-bottom: 0;
    }

    .environment--macos &[data-opener='dashboard'] {
        .top-nav {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.breakage-form__content {
    z-index: 1;
    position: relative;
    text-align: center;

    [data-state='sent'] & {
        display: none;
    }
}

.breakage-form__close-container {
    top: 13px;
    right: 15px;
    position: absolute;
}

.form__icon--wrapper {
    padding-bottom: 5px;
    margin: 0 20px;
    position: relative;
}

.breakage-form__element {
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &.is-transparent {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
}

.breakage-form__title {
    padding: 5px 0 0;
}

.breakage-form__advise {
    display: none;
    [data-state='idle'] & {
        display: block;
    }
}

.form__label__select {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.form__group {
    margin-bottom: 14px;
    .environment--windows & {
        margin-bottom: 16px;
    }
}

.form__select {
    margin-bottom: 10px;
    width: 100%;
}

.form__select select {
    cursor: pointer;
    display: block;
    width: 100%;
    min-height: 20px;
    border: 1px solid var(--color-lines-light);
    border-radius: 4px;
    margin: 0;
    margin-bottom: var(--size-unit);

    .environment--ios & {
        height: 34px;
    }
    .environment--windows & {
        min-height: 34px;
        margin-bottom: 10px;
    }
}

.form__textarea {
    resize: none;
    width: 100%;
    height: 88px;
    display: block;
    box-sizing: border-box;
    margin-bottom: var(--size-unit);
    padding: var(--size-unit-half);
    border: 1px solid var(--color-lines-light);
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;

    &::placeholder {
        color: rgba(0, 0, 0, 0.6);
    }

    .body--theme-dark & {
        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }

        background-color: $dark-mode-white;
        border-color: var(--color-lines-light);
    }

    .environment--macos & {
        height: 102px;
    }

    .environment--windows & {
        height: 102px;
        line-height: 20px;
    }
}

.form__submit {
    text-align: center;
    padding: 10px 12px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 100%;

    box-shadow: var(--btn-accent-shadow);
    border-radius: var(--btn-accent-border-radius);
    border: var(--btn-accent-border);
    color: var(--btn-accent-color);
    background: var(--btn-accent-bg);

    &:hover {
        background: var(--btn-accent-bg-hover);
    }
    &:active {
        background: var(--btn-accent-bg-active);
    }

    /* https://www.figma.com/file/DBZiXJRgTTJTuBeWAPyE5h/Desktop-Components?node-id=9113%3A130956&t=de8DMDVt8GbRBQub-0 */
    .environment--windows & {
        /* Windows/Label */
        box-shadow: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        border-radius: 4px;

        &:focus {
            /* todo(Shane): where does this live? */
            box-shadow: 0px 0px 0px 1px #ffffff, 0px 0px 0px 3px #3969ef;
        }

        &:active {
            box-shadow: none;
        }
    }
}

.breakage-form__footer {
    padding-bottom: 24px;
    text-align: center;

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.5);
    }

    .environment--browser & {
        margin-top: auto;
    }

    [data-state='sent'] & {
        display: none;
    }
}

.breakage-form__inner {
    height: calc(100% - var(--nav-height));
    display: flex;
    flex-direction: column;
}

.thanks {
    text-align: center;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    display: none;

    [data-state='sent'] & {
        display: block;
    }
}

.thanks__primary {
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 133.333% */
    margin-bottom: 8px;

    .environment--macos &,
    .environment--macos & {
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 129.412% */
    }
}
.thanks__secondary {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    .environment--macos & {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}
