.card {
    background-color: var(--page-bg);

    .environment--browser & {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.card-list--bordered {
    border: 1px solid var(--color-lines-light);
    border-radius: 12px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.card-list--last {
}
