.card-list {
    background-color: $white;

    .body--theme-dark & {
        background-color: $slate;
    }

    .body--theme-dark.environment--android & {
        background-color: $black;
    }
}

.card-list--bordered {
    border: 1px solid $color-gray-20;
    border-radius: 12px;
    position: relative;
    z-index: 0;

    .body--theme-dark & {
        border-color: $color--dark-theme-border;
    }

    .link-item {
        position: relative;
        .link-action {
            z-index: 10;
        }
        &:nth-child(1) {
            .link-action {
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
        }
        &:last-child {
            .link-action {
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                border-bottom: 0;
            }
        }
    }

    .link-action {
        display: flex;
        height: 44px;
        align-items: center;
        position: relative;
        border-bottom: 1px solid $color-gray-20;
        -webkit-touch-callout: none;

        .body--theme-dark & {
            border-color: $color--dark-theme-border;
        }

        .environment--ios &,
        .environment--android & {
            height: 48px;
        }
    }
    a.link-action {
        &:hover {
            background: $color-gray-20;
            .body--theme-dark & {
                background: $color--dark-theme-border;
            }
        }
    }
    .link-action__icon {
        width: 18px;
        height: 18px;
        z-index: 1;
        margin-left: 19px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .icon-small--secure {
        @include cross_platform_bg_image($status--good);
    }
    .icon-small--insecure {
        @include cross_platform_bg_image($status--bad);
    }
    .icon-small--info {
        @include cross_platform_bg_image("status--info.svg");
    }
    .icon-small--blocked {
        @include cross_platform_bg_image($status--good);
    }
    .icon-small--warning {
        @include cross_platform_bg_image($status--bad);
    }
    .link-action__text {
        display: block;
        z-index: 1;
        margin-left: 10px;
    }
    .link-action__chev {
        width: 7px;
        height: 18px;
        margin-left: auto;
        margin-right: 16px;
        background-repeat: no-repeat;
        background-size: 7px;
        background-position: center center;
        opacity: 60%;
        @include cross_platform_bg_image("refresh-assets/chevron.svg");

        .body--theme-dark & {
            @include cross_platform_bg_image("refresh-assets/chevron--light.svg");
        }

        .environment--ios &, .environment--android {
            opacity: 24%;
        }
    }
}

.card-list--last {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.1);

    .environment--browser & {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .body--theme-dark & {
        border-color: $color--dark-theme-border;
    }
}
