.card {
    background-color: var(--page-bg);

    .environment--browser & {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.card-list--bordered {
    border: 1px solid $color-gray-20;
    border-radius: 12px;
    position: relative;
    z-index: 0;

    .body--theme-dark & {
        border-color: $color--dark-theme-border;
    }
}

.card-list--last {
}
