#fire-button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0px;
    color: rgba(0, 0, 0, 0.84);

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.84);
    }
}

#fire-button-header {
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

#fire-button-content {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 12px;
    background: #ffffff;

    /* Tints-Shades/Shade 12% */
    border: 1px solid rgba(0, 0, 0, 0.12);

    /* Shadows/On Light/Elevation 90 */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    .body--theme-dark & {
        background-color: #333333;
        border: 1px solid rgba(255, 255, 255, 0.12);
    }
}

#fire-button-content button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 8px;
    width: 286px;
    height: 32px;
    border-radius: 8px;
}

#fire-button-burn {
    background: rgba(0, 0, 0, 0.06);
    color: #eb102d;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    svg {
        fill: #eb102d;
    }

    .body--theme-dark & {
        background: rgba(255, 255, 255, 0.06);
        color: #ff545a;

        svg {
            fill: #ff545a;
        }
    }

    &:hover {
        background: rgba(0, 0, 0, 0.09);
    }

    &:active {
        background: rgba(0, 0, 0, 0.12);
    }
}

#fire-button-opts {
    width: 100%;
    height: 30px;
    gap: 8px;
    font-size: 13px;
    padding-left: 8px;
    backdrop-filter: blur(25px);
    border-radius: 8px;

    .body--theme-dark & {
        background: rgba(106, 106, 106, 0.01);
        border: 0.5px solid rgba(255, 255, 255, 0.24);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.08);
        color: rgba(255, 255, 255, 0.84);
    }

    .body--theme-dark & option {
        background: #1f1f1f;
    }
}

#fire-button-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#fire-button-summary p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}

#fire-button-cancel {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    .body--theme-dark & {
        background-color: #333333;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.03);
    }
    &:active {
        background: rgba(0, 0, 0, 0.06);
    }
}
