#fire-button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0px;
    color: rgba(0, 0, 0, 0.84);

    .body--theme-dark & {
        color: rgba(255, 255, 255, 0.84);
    }
}

#fire-button-header {
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    padding-bottom: 4px;
}

#fire-button-content {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 12px;
    background: #ffffff;

    /* Tints-Shades/Shade 12% */
    border: 1px solid rgba(0, 0, 0, 0.12);

    /* Shadows/On Light/Elevation 90 */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    .body--theme-dark & {
        background-color: #333333;
        border: 1px solid rgba(255, 255, 255, 0.12);
    }
}

#fire-button-content button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 8px;
    width: 100%;
    height: 36px;
    border-radius: 8px;
}

#fire-button-burn {
    background: rgba(0, 0, 0, 0.06);
    color: #eb102d;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;

    svg {
        fill: #eb102d;
    }

    .body--theme-dark & {
        background: rgba(255, 255, 255, 0.06);
        color: #ff545a;

        svg {
            fill: #ff545a;
        }
    }

    &:hover {
        background: rgba(0, 0, 0, 0.09);
    }

    &:active {
        background: rgba(0, 0, 0, 0.12);
    }
}

#fire-button-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#fire-button-summary .fire-button-disclaimer {
    font-size: 15px;
}

#fire-button-summary p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

#fire-button-cancel {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;

    .body--theme-dark & {
        background-color: #333333;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.03);
    }
    &:active {
        background: rgba(0, 0, 0, 0.06);
    }
}

#fire-button-opts {
    width: 100%;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    line-height: 2.2;
    border: 1px solid #ddd;
    background-color: #fafafa;
    color: #333;
    padding: 0 32px 0 0.75em;
    vertical-align: middle;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAYAAABgrToAAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACVSURBVHgB7dXtCYAgEMbxq0ZqjtZwqBZomVqgaepAQUTzzrcvPT8QP+TRHyEiAgAA+L3NrlFz6pecdhnFnPHmqiJnxVlDskjpOZEl8/y2+xrsV+J8GLe/66AKuUA/JhcZi9upkiTQj0lFdolj0kA/Zo3sXeLYRHpfH0HTOKa5QSe8Sad5HCsJZGFkl7gWhvwtAAAAyj31qB2UieFidQAAAABJRU5ErkJggg==);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 20px;

    &:hover {
        background-color: #fff;
    }

    & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        background: none;
        cursor: pointer;
        margin: 0;
        padding: 0 32px 0 0.75em;
        position: relative;
        display: block;
        font-size: 1em;
        line-height: inherit;
        min-width: 10em;
        width: 140% !important;
        height: 2.2em !important;
        outline: none !important;
        border: none !important;
    }

    @media (prefers-color-scheme: dark) {
        & {
            border: 1px solid #444;
            background-color: #333;
            color: #fafafa;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAYAAABgrToAAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACFSURBVHgB7dVdCoAgEATg3e7XNTxUZ+pOxoIPJf3suGYPzQcSxC6OoihCRET0bznn2YaAWvtaJlnLSEBf2vWFQk5AbfKELDXuxYRVu3G7k0jt8JCfhfMEeDOcIsUn52sp38M/VV2kEyigebgEXcMZOKC5CNk9XEh17sZeCK8hrwUREVHIBuQ4wvCLsemUAAAAAElFTkSuQmCC);
        }

        &:hover {
            background-color: #444;
        }
    }
}
