.large-icon-container {
    height: 96px;
    //outline: 1px dashed grey;
    //background-color: cyan;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    background-size: contain;
}

.medium-icon-container {
    height: 72px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    background-size: contain;
}

.hero-icon--breakage-form {
    @include cross_platform_bg_image('refresh-assets/Breakage-128.svg');
    margin-bottom: 20px;
    .environment--browser & {
        margin-bottom: 16px;
    }
}
.hero-icon--toggle-report {
    @include cross_platform_bg_image('refresh-assets/Breakage-128.svg');
    margin-bottom: 0;
}
.hero-icon--toggle-report-sent {
    @include cross_platform_bg_image('refresh-assets/breakage-sent.svg');
}
.hero-icon--tracker-network {
    @include cross_platform_bg_image('refresh-assets/Network-128.svg');
}

.hero-icon--insecure-connection,
.hero-icon--trackers-blocked,
.hero-icon--connection-none,
.hero-icon--connection-invalid {
    @include cross_platform_bg_image('refresh-assets/Unlocked-128.svg');
}

.hero-icon--major-networks-blocked {
    @include cross_platform_bg_image('refresh-assets/Shield-128.svg');
}

.hero-icon--protections-off,
.hero-icon--major-networks-warning,
.hero-icon--major-networks-protections-off {
    @include cross_platform_bg_image('refresh-assets/Block-Disabled-128.svg');
}

.hero-icon--info,
.hero-icon--major-networks-info {
    @include cross_platform_bg_image('refresh-assets/Block-Info-128.svg');
}

.hero-icon--no-activity,
.hero-icon--major-networks-no-activity {
    @include cross_platform_bg_image('refresh-assets/Counter-128.svg');
}

.hero-icon--connection-secure,
.hero-icon--connection-upgraded {
    @include cross_platform_bg_image('refresh-assets/Locked-128.svg');
}

.hero-icon--cookies-managed {
    @include cross_platform_bg_image('refresh-assets/Cookies-Managed-128.svg');
}
.hero-icon--cookies-hidden {
    @include cross_platform_bg_image('refresh-assets/Cookies-Hidden-128.svg');
}

.hero-icon--malicious,
.hero-icon--connection-malicious {
    @include cross_platform_bg_image('refresh-assets/Phishing-128.svg');
}

.hero-icon--chat {
    @include cross_platform_bg_image('refresh-assets/chat-private-128.svg');
}
.hero-icon--switch-shield {
    @include cross_platform_bg_image('refresh-assets/switch-shield-128.svg');
}
