$large-icon: 64px;
$medium-icon: 32px;
$small-icon: 20px;

$large-wrapper: 96px;
$medium-wrapper: 64px;
$small-wrapper: 48px;

.icon-list {
    position: relative;
    display: flex;
    justify-content: center;
}

.icon-list__item {
    display: flex;
    align-items: center;
}

.icon-list__count {
    display: inline-block;
    letter-spacing: -0.7px;
}

.icon-list__icon {
    @include tracker_network_icons_colors();
    @include tracker_network_icons_subview();
    border-radius: 50%;
    overflow: hidden;
    background-size: contain;
    margin: 0;
    width: $small-icon;
    height: $small-icon;
}

.icon-list__blocked-icon {
    border-radius: 100%;
    position: absolute;

    svg path {
        shape-rendering: geometricPrecision;
    }
    svg circle {
        shape-rendering: geometricPrecision;
    }
    .body--theme-dark & {
        circle {
            fill: #222;
        }
    }
}

// ignoring the first element (the middle one), offset odd items to the left to create the overlap
[data-company-icon-position]:nth-child(n + 2):nth-child(odd) {
    margin-left: -8px;
}

// ignoring the first element (the middle one), offset odd items to the right to create the overlap
[data-company-icon-position]:nth-child(n + 2):nth-child(even) {
    margin-right: -8px;
}

[data-company-icon-size='large'] {
    z-index: 4;
    display: block;
    // the following line was the value from figma, it was converted to multiple box-shadows
    // because that gave a closer result to the design.
    // ▶️ [from figma:] filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08);
    height: $large-wrapper;
    width: $large-wrapper;

    .icon-list__icon {
        margin: 0;
        width: $large-icon;
        height: $large-icon;
    }

    .icon-list__blocked-icon {
        bottom: 14px;
        right: 14px;
        width: 30px;
        height: 30px;

        .environment--browser & {
            bottom: 10px;
            right: 10px;
        }
    }
}

[data-company-icon-size='medium'] {
    z-index: 3;
    // ▶️ [from figma:] filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.08)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: $medium-wrapper;
    width: $medium-wrapper;

    .icon-list__icon {
        margin: 0;
        width: $medium-icon;
        height: $medium-icon;
    }
    .icon-list__blocked-icon {
        width: 24px;
        height: 24px;
        bottom: 8px;
        right: 8px;
    }
}
[data-company-icon-size='small'] {
    z-index: 2;
    //box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #f2f2f2;
    box-shadow: 0px 1px 0px rgba(125, 125, 125, 0.06);

    height: $small-wrapper;
    width: $small-wrapper;

    .icon-list__icon {
        margin: 0;
        width: $small-icon;
        height: $small-icon;
    }

    .icon-list__blocked-icon {
        width: 24px;
        height: 24px;
        bottom: 3px;
        right: 3px;
    }
}

.icon-list__wrapper {
    background-color: $white;
    border-radius: 50%;
    position: relative;
    display: flex;
    color: rgba(0, 0, 0, 0.85);
    align-items: center;
    justify-content: center;

    .body--theme-dark & {
        background-color: $color-gray-90;
        border-color: $color-gray-90;
        color: rgba(255, 255, 255, 0.85);
    }

    .environment--macos &,
    .environment--windows & {
        background-color: var(--ds-color-theme-surface-tertiary);
        color: var(--ds-color-theme-text-primary);
    }
}

.icon-list__wrapper--count {
    border: 1px solid var(--color-lines-light);
    height: $small-wrapper - 2;
    width: $small-wrapper - 2;
    background: #fafafa;
    font-size: 16px;
}
