.key-insight {
    position: relative;
    padding-bottom: 24px;
    text-align: center;

    &[data-suffix='about-link'] {
        padding-bottom: 12px;
    }

    .environment--android &,
    .environment--ios & {
        padding-top: 24px;
    }

    .environment--browser & {
        background-color: transparent;
    }

    .environment--macos &,
    .environment--windows & {
        padding-top: 32px;
    }

    .token-title-3-em {
        margin-bottom: 8px;
    }
}

.key-insight__icon {
    height: 96px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    background-size: contain;

    .environment--browser &,
    .environment--macos &,
    .environment--windows & {
        margin-bottom: 6px;
    }
}

.key-insight--breakage {
    padding-bottom: 20px;

    .environment--browser & {
        padding-bottom: 16px;
    }
    .environment--windows & {
        padding-bottom: 12px;
    }
}
