.main-nav {
    overflow: hidden;
}

.main-nav__row {
    position: relative;

    &:after {
        content: ' ';
        display: block;
        width: calc(100% - 32px);
        height: 1px;
        background: var(--color-lines-light);
        position: absolute;
        bottom: -0.5px;
        left: 16px;
    }

    /*
     The next 3 blocks are all about removing dividers on hover. It was
     done this way to prevent any heights changing, or any lines bleeding
     into the hover styles. I'm confident there's a better way, however :)
     */
    [data-hover='0'] & {
        &:nth-child(1) {
            &:after {
                background-color: var(--page-bg);
            }
        }
    }
    [data-hover='1'] & {
        &:nth-child(1),
        &:nth-child(2) {
            &:after {
                background-color: var(--page-bg);
            }
        }
    }
    [data-hover='2'] & {
        &:nth-child(2),
        &:nth-child(3) {
            &:after {
                background-color: var(--page-bg);
            }
        }
    }
    &:last-child {
        &:after {
            display: none;
        }
        border-bottom: none;
    }
}

// for links
.main-nav__item {
    z-index: 10;
    position: relative;
    display: flex;
    height: 44px;
    align-items: center;
    -webkit-touch-callout: none;

    // taller on ios/android
    .environment--ios &,
    .environment--android & {
        height: 48px;
    }
}

.main-nav__item--link {
    color: var(--color-text-primary);
    .environment--browser &,
    .environment--windows &,
    .environment--macos & {
        &:visited,
        &:active,
        &:hover {
            text-decoration: none;
            background: var(--color-hover-bg);
        }
    }
    .environment--ios & {
        &:active {
            opacity: 0.5;
        }
    }
}

.main-nav__icon {
    width: 18px;
    height: 18px;
    z-index: 1;
    margin-left: 19px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.main-nav__text {
    display: block;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-nav__chev {
    width: 7px;
    height: 18px;
    margin-left: auto;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: center center;
    opacity: 60%;
    @include cross_platform_bg_image('refresh-assets/chevron.svg');

    .body--theme-dark & {
        @include cross_platform_bg_image('refresh-assets/chevron--light.svg');
    }

    .environment--ios &,
    .environment--android & {
        opacity: 24%;
    }
}

.icon-small--info {
    @include cross_platform_bg_image('status--info.svg');
}

.icon-small--blocked,
.icon-small--secure {
    @include cross_platform_bg_image($status--good);
}

.icon-small--warning,
.icon-small--insecure {
    @include cross_platform_bg_image($status--bad);
}
