.main-nav {
    border: 1px solid var(--color-lines-light);
    border-radius: 12px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.main-nav__row {
    position: relative;

    &:after {
        content: ' ';
        display: block;
        width: calc(100% - 32px);
        height: 1px;
        background: var(--color-lines-light);
        position: absolute;
        bottom: -0.5px;
        left: 16px;
    }

    /*
        The following avoids height shifts when hovering over nav rows.

        Each row has an :after element that provides the separator line. When hovering a row, we need to change the color of any adjacent separators (i.e. the current row and the row above it).

        We do that by targeting the current row directly, then use a :has selector to also target the previous sibling of the current row.

        We also use the :not selector to exclude any rows marked as no-hover.
    */
    &:not(.no-hover):hover,
    &:has(+ :not(.no-hover):hover) {
        &:after {
            background-color: var(--page-bg);
        }
    }

    &:last-child {
        &:after {
            display: none;
        }
        border-bottom: none;
    }
}

// for links
.main-nav__item {
    z-index: 10;
    position: relative;
    display: flex;
    height: 44px;
    align-items: center;
    -webkit-touch-callout: none;

    // taller on ios/android
    .environment--ios &,
    .environment--android & {
        height: 48px;
    }
    .environment--browser & {
        height: 40px;
    }
}

.main-nav__item--link {
    color: var(--color-text-primary);
    .environment--example &,
    .environment--browser &,
    .environment--windows &,
    .environment--macos & {
        &:focus {
            outline: 0;
            text-decoration: underline;
        }
        &:visited,
        &:active,
        &:hover {
            text-decoration: none;
            background: var(--color-hover-bg);
        }
    }
    .environment--ios & {
        &:active {
            opacity: 0.5;
        }
    }
}

.main-nav__icon {
    width: 18px;
    height: 18px;
    z-index: 1;
    margin-left: 19px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.main-nav__text {
    display: block;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    // when text wraps on this buttons (for different languages) this prevents the layout looking broken
    line-height: 1;
}

.main-nav__chev {
    width: 7px;
    height: 18px;
    margin-left: auto;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: center center;
    opacity: 60%;
    @include cross_platform_bg_image('refresh-assets/chevron.svg');

    .body--theme-dark & {
        @include cross_platform_bg_image('refresh-assets/chevron--light.svg');
    }

    .environment--ios &,
    .environment--android & {
        opacity: 24%;
    }
}

.icon-small--info {
    @include cross_platform_bg_image('status--info.svg');
}

.icon-small--blocked,
.icon-small--secure {
    @include cross_platform_bg_image($status--good);
}

.icon-small--warning,
.icon-small--insecure {
    @include cross_platform_bg_image($status--bad);
}
