.note {
    background: $color-yellow;
    border-radius: 12px;
    padding: 12px 16px;

    .body--theme-dark & {
        background: $color-yellow--dark;
    }
}

.note--nested {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.note--nested--alt {
    background: $color-note-blue;
    .body--theme-dark & {
        background: rgba($color-note-blue--dark, 18%);
    }
}

// this solves the case where the note is embedded inside the key-insight component
.note--key-insight {
    margin-top: 12px;
    margin-left: -16px;
    margin-right: -16px;
}
