.page {
    display: flex;
    flex-direction: column;

    .environment--browser &,
    .environment--ios &,
    .environment--android & {
        height: 100%;
    }
}

.page-inner {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    z-index: 1;
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .environment--browser &,
    .environment--ios &,
    .environment--android & {
        height: 100%;
    }

    background: var(--page-bg);

    &[data-with-permissions='true'] {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.1);
    }
}

.page-outer {
    z-index: 0;
    background: var(--permissions-bg);
}
