.page-connection__certificate {
  padding: 0 $card--padded--side;
}


.page-connection__certificate-value {
  color: $gray-seventy;

  .body--theme-dark & {
    color: $gray-fifty;
  }
}

.page-connection__certificate-details {
  padding: 18px 0;

  h3 {
    color: $slate-dark;
    margin-bottom: 14px;

    .body--theme-dark & {
      color: $color--off-white;
    }
  }

  > div {
    color: $slate;
    display: flex;
    margin-top: 6px;
    justify-content: space-between;

    .body--theme-dark & {
      color: $color--off-white;
    }
  }

  + .page-connection__certificate-details {
    border-top: $border--separator-light;

    .body--theme-dark & {
      border-top: $border--separator-dark-mode;
    }
  }
}

