.page-connection__certificate-value {
    text-align: right;
    color: $gray-seventy;

    .body--theme-dark & {
        color: $gray-fifty;
    }

    .environment--macos &,
    .environment--windows & {
        color: var(--ds-color-theme-text-secondary);
    }
}

.page-connection__certificate-details {
    padding: 18px 0;

    h3 {
        color: $slate-dark;
        margin-bottom: 14px;

        .body--theme-dark & {
            color: $color--off-white;
        }

        .environment--macos &,
        .environment--windows & {
            color: var(--ds-color-theme-text-primary);
        }
    }

    > div {
        color: $slate;
        display: flex;
        margin-top: 6px;
        justify-content: space-between;

        .body--theme-dark & {
            color: $color--off-white;
        }

        .environment--macos &,
        .environment--windows & {
            color: var(--ds-color-theme-text-primary);
        }
    }

    + .page-connection__certificate-details {
        border-top: 1px solid var(--color-lines-lighter);

        .body--theme-dark & {
            border-top: 1px solid var(--color-lines-lighter);
        }
    }
}
