.protection-toggle {
}

.protection-toggle__row {
    // default is browser
    padding: 12px;

    .environment--browser & {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .environment--ios & {
        padding: 8.5px 16px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    .environment--android & {
        padding: 14px 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    .environment--windows & {
        padding: 10px 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    .environment--macos & {
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

.protection-toggle__row--alt {
    background: $color-note-blue;
    .body--theme-dark & {
        background: rgba($color-note-blue--dark, 18%);
    }
    .environment--ios & {
        padding: 12px 16px;
    }
    .environment--android & {
        padding: 12px 16px;
    }
}
