.protection-toggle {
}

.protection-toggle__row {
    // default is browser
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;

    .environment--browser & {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .environment--macos & {
        //padding-top: 11px;
        //padding-bottom: 11px;
    }
}

.protection-toggle__row--alt {
    background: $color-note-blue;
    .body--theme-dark & {
        background: rgba($color-note-blue--dark, 18%);
    }
}
