.site-info {
    margin-top: 0;

    .environment--ios & {
        > :last-child {
            padding-bottom: 18px;
        }
    }

    .list-wrapper {
        background-color: var(--page-bg);
    }

    .default-list {
        padding-bottom: 0;
    }

    &:has(.page-outer) .page-inner {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.1);
    }
}

.site-info__page-permission {
    label {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding: 16px 0;
    }

    select {
        float: right;
        max-width: 170px;
    }

    + .site-info__page-permission {
        border-top: 1px solid var(--color-lines-light);
    }
}

.site-info__li--manage-permissions {
    padding: 5px 16px 0;
}

.site-info__page-permission__icon {
    @include icon_display();
    margin-right: 8px;

    &[data-icon='geolocation'] {
        @include cross_platform_bg_image('refresh-assets/permissions-location.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-location-light.svg');
        }
    }

    &[data-icon='microphone'] {
        @include cross_platform_bg_image('refresh-assets/permissions-microphone.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-microphone-light.svg');
        }

        margin-top: -2px;
    }

    &[data-icon='camera'] {
        @include cross_platform_bg_image('refresh-assets/permissions-camera.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-camera-light.svg');
        }

        width: 16px;
        height: 12px;
        margin-top: -2px;
    }

    &[data-icon='popups'] {
        @include cross_platform_bg_image('refresh-assets/permissions-popups.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-popups-light.svg');
        }
    }

    &[data-icon='externalScheme'] {
        @include cross_platform_bg_image('refresh-assets/permissions-externalScheme.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-externalScheme-light.svg');
        }

        margin-top: -4px;
    }

    &[data-icon='notification'] {
        @include cross_platform_bg_image('refresh-assets/permissions-notification.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-notification-light.svg');
        }

        width: 16px;
        height: 14px;
        margin-top: -4px;
    }
}

.site-info__protection-wrapper {
    padding: 16px;
}

.site-info__protection {
    opacity: 1;
    margin-top: 0;
    padding-right: 10px;
}

.site-info-toggle {
    color: $slate;
    display: flex;
    align-items: center;

    .body--theme-dark & {
        color: $color--off-white;
    }
}

.site-info__toggle-container {
    margin-left: auto;
    text-align: center;
    display: flex;

    // including the size here to ensure the height does
    // not alter when we go from spinner to toggle
    // CSS custom properties defined in: shared/scss/views/_toggle-button.scss
    width: var(--toggle-width);
    height: var(--toggle-height);
}
