@mixin site_status_padding {
    //padding: 24px 48px 24px 52px;
    padding: 11px 48px 11px 46px;
    .environment--browser & {
        padding: 11px 48px 11px 46px;
    }
    .environment--ios & {
        padding: 13px 48px 13px 46px;
    }
}

@mixin site_status_icons() {
    position: absolute;
    //top: 26px;
    top: 12px;
    left: 16px;

    .environment--browser & {
        top: 12px;
    }
    .environment--ios & {
        top: 15px;
    }
}

.site-info {
    margin-top: 0;

    .environment--ios & {
        > :last-child {
            padding-bottom: 18px;
        }
    }

    .list-wrapper {
        background-color: var(--page-bg);
    }

    .default-list {
        padding-bottom: 0;
    }

    .text-line-after-icon.privacy-on-off-message {
        margin-left: 2px;
    }

    .link-secondary {
        @include is_disableable_link();
    }
}

.site-info__page-permission {
    label {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding: 16px 0;
    }

    select {
        float: right;
        max-width: 170px;
    }
}

.site-info__li--manage-permissions {
    margin: 5px 20px 0;
}

.site-info__page-permission__icon {
    @include icon_display();
    margin-right: 8px;

    &[data-icon='geolocation'] {
        @include cross_platform_bg_image('refresh-assets/permissions-location.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-location-light.svg');
        }
    }

    &[data-icon='microphone'] {
        @include cross_platform_bg_image('refresh-assets/permissions-microphone.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-microphone-light.svg');
        }

        margin-top: -2px;
    }

    &[data-icon='camera'] {
        @include cross_platform_bg_image('refresh-assets/permissions-camera.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-camera-light.svg');
        }

        width: 16px;
        height: 12px;
        margin-top: -2px;
    }

    &[data-icon='popups'] {
        @include cross_platform_bg_image('refresh-assets/permissions-popups.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-popups-light.svg');
        }
    }

    &[data-icon='externalScheme'] {
        @include cross_platform_bg_image('refresh-assets/permissions-externalScheme.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-externalScheme-light.svg');
        }

        margin-top: -4px;
    }

    &[data-icon='notification'] {
        @include cross_platform_bg_image('refresh-assets/permissions-notification.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/permissions-notification-light.svg');
        }

        width: 16px;
        height: 14px;
        margin-top: -4px;
    }
}

.site-info__li--trackers {
    position: relative;
    padding: 24px 44px;
    cursor: pointer;
    overflow: hidden;

    @include site_status_padding;

    @media (hover: hover) {
        &:hover {
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.05);

            .body--theme-dark & {
                background-color: $color-gray-80;
            }
        }

        &:hover,
        &:hover + li {
            border-color: transparent;
        }
    }

    .is-disabled & {
        @include is_disabled();
    }

    .site-info__trackers {
        .site-info__trackers-status__icon {
            @include icon_display();
            @include site_status_icons();
        }

        .float-right {
            max-width: 140px;
            text-align: right;
            color: $color--grey;
            line-height: 20px;

            &.is-active {
                color: $color--green;
            }
        }
    }
}

.report-breakage {
    text-align: center;
}

.report-breakage__link {
    position: relative;
    padding: 16px 0;
    display: block;

    .environment--browser & {
        padding: 10px 0;
    }
    .environment--ios &,
    .environment--android & {
        &:visited,
        &:active,
        &:hover {
            text-decoration: none;
        }
    }
}

.site-info__protection {
    padding-right: 2.5rem;
    opacity: 1;
    margin-top: 0;

    .environment--ios & {
        padding-right: 3.5rem;
    }
}

.site-info__li--toggle {
    color: $slate;
    padding: 16px;

    .body--theme-dark & {
        color: $color--off-white;
    }

    .is-disabled & {
        @include is_disabled();
    }

    .environment--browser &.padded {
        padding: 14px 16px;
    }
}

.site-info__toggle-container {
    position: absolute;
    top: 15px;
    right: 0;
    //background: white;

    .environment--android & {
        top: 17px;
    }

    .environment--ios & {
        top: 10px;
    }

    .toggle-spinner {
        height: 18px;
        width: 18px;

        .environment--ios & {
            margin: 4px;
            height: 26px;
            width: 26px;
        }
    }

    .toggle-button--is-active-true {
        .toggle-button__bg {
            background-color: $color--blue;

            .environment--ios & {
                background-color: $color--icon-green;
            }
        }
    }

    .toggle-button--is-active-false {
        .toggle-button__bg {
            background-color: $color--medium-silver;
        }
    }
}

.site-info__li--https-status {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    @include site_status_padding;

    @media (hover: hover) {
        &:hover {
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.05);

            .body--theme-dark & {
                background-color: $color-gray-80;
            }
        }

        &:hover,
        &:hover + li {
            border-color: transparent;
        }
    }
}

.site-info__li--consent-managed {
    position: relative;
    @include site_status_padding;
}

.site-info__https-status__icon {
    //@include icon_display();
    //@include site_status_icons();
    //
    //&.is-secure, // default = secure, https
    //&.is-upgraded {
    @include cross_platform_bg_image($status--good);
    //}
    //
    //&.is-none,
    //&.is-insecure { // none = insecure, http
    //    @include cross_platform_bg_image($status--bad);
    //}
}
