body {
    --nav-height: 56px;

    &.environment--macos,
    &.environment--browser,
    &.environment--windows,
    &.environment--example {
        --nav-height: var(--size-unit-double);
    }
}

.top-nav {
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: var(--nav-height);
    background: var(--page-bg);
}

.top-nav__spacer {
    height: var(--nav-height);
}

.top-nav__back {
    position: absolute;
    padding: var(--size-unit-half); // <-- this padding ids for creating a larger tap area
    left: var(--size-unit-half);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    color: var(--color-text-primary);

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    // rounded corners on android because of the ripple effect
    .environment--android & {
        border-radius: 100%;
        left: 10px;
    }

    .environment--ios & {
        // todo(Shane): remove these hard-coded value, replace with tokens
        font-size: 17px;
        font-weight: 400;
        left: 0;
        &:active {
            opacity: 0.5;
        }
    }

    .environment--macos &,
    .environment--browser &,
    .environment--windows &,
    .environment--example & {
        border-radius: 0;
        bottom: 0;
        padding: 0;
        height: 32px;
        width: 32px;

        // this is for visually aligning the arrow to the bottom of the container
        .icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(100%);
            width: 15px;
            height: 15px;
        }
    }
}

.top-nav__done {
    position: absolute;
    padding: 0 var(--size-unit-half);
    right: var(--size-unit-half);
    height: var(--nav-height);
    line-height: var(--nav-height);
    color: var(--color-text-primary);

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    .environment--ios & {
        // todo(Shane): remove these hard-coded value, replace with tokens
        font-size: 17px;
        font-weight: 600;
        font-weight: 600;
        &:active {
            opacity: 0.5;
        }
    }

    .environment--macos & {
        height: auto;
        line-height: normal;
        bottom: 0;
    }
}

.top-nav__cancel {
    position: absolute;
    padding: 0 var(--size-unit-half);
    right: var(--size-unit-half);
    height: var(--nav-height);
    line-height: var(--nav-height);
    color: var(--color-text-primary);

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    .environment--ios & {
        font-size: 17px;
        &:active {
            opacity: 0.5;
        }
    }
}

.top-nav__title {
    position: absolute;
    height: var(--nav-height);
    line-height: 1.1;
    color: var(--color-text-primary);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    .environment--ios & {
        font-size: 17px;
        font-weight: 600;
        &:active {
            opacity: 0.5;
        }
    }

    .environment--android & {
        transform: unset;
        left: 72px;
        top: 2px;
        font-size: 20px;
        font-weight: 500;
        &:active {
            opacity: 0.5;
        }
    }
}
