$nav-height: 56px;
$nav-height-short: 32px;
.top-nav {
    text-align: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: $nav-height;
    background: white;

    .body--theme-dark & {
        background-color: $slate;
    }

    .body--theme-dark.environment--android & {
        background-color: $black;
    }
}

.top-nav__spacer {
    height: $nav-height;

    .top-nav--short + & {
        height: $nav-height-short;
    }
}

.top-nav--short {
    height: $nav-height-short;
}

.top-nav__back {
    position: absolute;
    padding: 10px;
    left: 14px;
    top: 7px;
    border-radius: 100%;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-text-primary);

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    .environment--ios & {
        left: 0;
        &:active {
            opacity: 0.5;
        }
    }

    .top-nav--short & {
        border-radius: 0;
        bottom: 0;
        top: 0;
        padding: 0;
        height: 32px;
        width: 32px;

        // this is for aligning the arrow to the bottom of the container
        .icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(100%);
            width: 15px;
            height: 15px;
        }
    }
}

.top-nav__done {
    position: absolute;
    padding: 0 6px;
    right: 14px;
    height: $nav-height;
    line-height: $nav-height;
    font-size: 17px;
    font-weight: 600;
    color: var(--color-text-primary);

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    .environment--ios & {
        &:active {
            opacity: 0.5;
        }
    }
}
