.tracker-networks__explainer {
    padding: 0 $card--padded--side 0;

    .about-link {
        display: block;
        padding-top: 8px;
        margin-bottom: 20px;
    }
}

.section-list-header {
    color: var(--color-text-secondary);
    padding: 12px 0;
    text-align: center;
    border-top: 1px solid var(--color-lines-light);
    border-bottom: 1px solid var(--color-lines-light);

    &[data-section-name='adAttribution'] {
        //outline: 1px dotted red;
        padding-bottom: 4px;
    }
}

.icon-major-networks-blocked {
    @include cross_platform_bg_image($status--good);
}

.icon-major-networks-warning {
    @include cross_platform_bg_image($status--bad);
}

.icon-major-networks-info {
    @include cross_platform_bg_image('status--info.svg');
}

.icon-major-networks-mixed {
    @include cross_platform_bg_image($status--mixed);
}

.site-info__tracker__icon {
    @include tracker_network_icons_colors();
    @include tracker_network_icons_subview();
    border-radius: 50%;
    overflow: hidden;
    background-size: contain;
}

/* todo(Shane): remove these */
.site-info__tracker__icon--company {
    width: 24px !important;
    height: 24px !important;
}

.tracker-networks h1.site-info__domain {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 12px;
}

.site-info__trackers__company-list--bordered {
    border-top: 1px solid var(--color-lines-light);
}

.site-info__trackers__company-list-item {
    margin-top: 16px;
    margin-bottom: 16px;
}

.site-info__trackers__company-list-item + .site-info__trackers__company-list-item {
    padding-top: 16px;
    border-top: 1px solid var(--color-lines-lighter);

    .body--theme-dark & {
        border-top: 1px solid rgba(255, 255, 255, 0.06);
    }
}

.site-info__trackers__company-list__url-list {
    .url-list-item {
        display: flex;
        margin-top: 7px;
        align-items: baseline;
    }
    .url {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        direction: rtl;
        padding-right: 10px;
    }
    .category {
        padding: 1px 8px;
        background-color: $color--dark-platinum;
        border-radius: 33px;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        text-align: right;

        .body--theme-dark & {
            background-color: $color--medium-dark-slate;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}
