@import 'vars';
@import 'tracker-network-icons';

/* Logo */
@mixin ddg_logo() {
    @include cross_platform_bg_image('logo-horizontal@2x.png');
    background-size: contain;
}

@mixin ddg_logo--small() {
    @include cross_platform_bg_image('logo-small.svg');
    background-size: contain;
}

/* Font groupings */
@mixin uppercase_label() {
    font-size: 12px;
    color: $color--grey;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.uppercase {
    @include uppercase_label();
}

/* Lists */
@mixin default_list() {
    .default-list {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;

        li .icon__arrow {
            right: 15px;
            top: calc(50% - 6px);

            .environment--browser & {
                right: 10px;
            }
        }
    }
}

/* Images & icons */
@mixin icon_display() {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

/* Cross-platform background image */
@mixin cross_platform_bg_image($image) {
    background-image: url('../../img/#{$image}');
}

/* Sliding subviews */
@mixin sliding_subview() {
    .sliding-subview {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        &.sliding-subview--root {
            position: relative;
            top: 0;
            left: 0;
            transition: left 0.3s ease-in-out;

            @media (prefers-reduced-motion) {
                transition: none;
            }

            &.sliding-subview--immediate {
                transition: none;
            }

            &.sliding-subview--open {
                left: -100%;
            }
        }

        .sliding-subview__header {
            z-index: 10;
            position: fixed;
            top: 10px;
            left: 0;
            right: 0;
            height: 42px;
            margin: 0;
            font-size: 1.14em;
            color: #383838;
            overflow: hidden;

            .sliding-subview__header__back,
            .sliding-subview__header__title {
                height: 26px;
                width: 14px;
                color: $slate;
                font-size: 14px;
                font-weight: bold;
                padding: 14px 0 0 14px;
                display: inline-block;

                &.sliding-subview__header__back--is-icon {
                    padding-left: 35px;
                }
            }

            .sliding-subview__header__title {
                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: auto;
                text-align: center;
                font-weight: bold;
                color: $slate;
                padding: 14px 0 10px 0;
                text-decoration: none;
            }
        }
    }
}

@mixin arrow-left($size, $color) {
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
}

@mixin btn-pill($size) {
    border-radius: 28px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid $color--medium-dark-slate;
    color: $color--medium-dark-slate;
    background: $white;
    padding: 0.4em 1.2em;
    text-decoration: none;
    text-align: center;
    font-size: $size;
    display: inline-block;
}
