$abstract-color-palette: (
    1: #94b3af,
    2: #727998,
    3: #645468,
    4: #4d5f7f,
    5: #855db6,
    6: #5e5adb,
    7: #678fff,
    8: #6bb4ef,
    9: #4a9bae,
    10: #66c4c6,
    11: #55d388,
    12: #99db7a,
    13: #eccc7b,
    14: #e7a538,
    15: #dd6b4c,
    16: #d65d62,
);

@mixin tracker_network_icons_colors() {
    @each $id, $color in $abstract-color-palette {
        &.color-#{$id} {
            background-color: $color;
        }
    }
}

$tracker-letter-fallbacks: (
    'A',
    'B',
    'C',
    'D',
    'E',
    'F',
    'G',
    'H',
    'I',
    'J',
    'K',
    'L',
    'M',
    'N',
    'O',
    'P',
    'Q',
    'R',
    'S',
    'T',
    'U',
    'V',
    'W',
    'X',
    'Y',
    'Z'
);

$tracker-network-icons: (
    'adjust',
    'adobe',
    'amazon',
    'amplitude',
    'appnexus',
    'appsflyer',
    'beeswax',
    'branchmetrics',
    'braze',
    'bugsnag',
    'chartbeat',
    'comscore',
    'criteo',
    'facebook',
    'google',
    'indexexchange',
    'iponweb',
    'kochava',
    'linkedin',
    'liveramp',
    'mediamath',
    'microsoft',
    'mixpanel',
    'neustar',
    'newrelic',
    'openx',
    'oracle',
    'outbrain',
    'pinterest',
    'pubmatic',
    'quantcast',
    'magnite',
    'rythmone',
    'salesforce',
    'sharetrough',
    'smaato',
    'spotx',
    'taboola',
    'tapad',
    'thenielsencompany',
    'thetradedesk',
    'twitter',
    'urbanairship',
    'verizonmedia',
    'warnermedia',
    'xaxis',
    'yahoojapan',
    'yandex',
    'zeotap'
);

@mixin tracker_network_icons_subview() {
    @each $name in $tracker-letter-fallbacks {
        &.#{$name} {
            margin: 0 4px 0 0;
            @include icon_display();
            @include cross_platform_bg_image('refresh-assets/tracker-icons/letters/#{$name}.svg');
        }
    }

    @each $name in $tracker-network-icons {
        &.#{$name} {
            margin: 0 4px 0 0;
            @include icon_display();
            @include cross_platform_bg_image('refresh-assets/tracker-icons/logos/#{$name}.svg');
            background-color: transparent;
        }
    }
}
