$font__face--default: system, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font__face--browser-alt: 'DDG_ProximaNova';

/* Status icons */
$status--good: 'refresh-assets/Check-Color-16.svg';
$status--mixed: 'refresh-assets/Stop-Grey-16.svg';
$status--bad: 'refresh-assets/Error-Color-16.svg';

/* Colors */
@import '../../node_modules/duckduckgo-colors/colors';
$color--green: #3fa248;
$color--blue: #007aff;
$color--blue-20: #3969ef; // eg: buttons
$color--blue-40: #2950bf; // eg: buttons + hover
$color--icon-green: #21c000;
$color--off-white: rgba(255, 255, 255, 0.9);
$color--medium-dark-slate: #5f5f5f;
$color--dark-silver: #ddd;
$color--medium-silver: #d8d8d8;
$color--medium-dark-platinum: #e9e9eb;
$color--dark-platinum: #eee;
$color--extra-light-platinum: rgba(238, 238, 238, 0.5);
$color--medium-light-platinum: rgba(0, 0, 0, 0.05);
$color--alert-red: #ee1025;

$color-yellow: #fff0c2;
$color-yellow--dark: rgba(#ffde7a, 18%);
$color-note-blue: #ccdaff;
$color-note-blue--dark: rgba(#557ff3, 18%);

$color-gray-20: #eeeeee;
$color-gray-90: #222;
$color-gray-80: #444;

/* Dark theme */
$color--dark-theme-background: rgba(255, 255, 255, 0.06);
$color--dark-theme-border: $color-gray-80;

/* Neutral Colors */
$color--grey: $grey-dark; /* #888 */
$color--default-box-shadow: $platinum-dark; /* #d0d0d0 */
$color--dark-grey: #4a4c4f;

$gray-fifty: #aaa;
$gray-seventy: #666;

/* Cards */
$card--padded: 24px;
$card--padded--side: 32px;
$card--padded--top: 24px 0 0;

/* CSS Arrow */
$arrow__bg-color: $white;

/* links */
$link-color--blue: #7295f6;

/** Separators */
$border--separator-light: solid 1px rgba(0, 0, 0, 0.06);
$border--separator-dark-mode: 1px solid rgba(255, 255, 255, 0.06);

/** Latest color pallette as CSS custom properties */
body {
    --color-blue-0: #ccdaff;
    --color-blue-10: #adc2fc;
    --color-blue-20: #8fabf9;
    --color-blue-30: #7295f6;
    --color-blue-40: #557ff3;
    --color-blue-50: #3969ef;
    --color-blue-60: #2b55ca;
    --color-blue-70: #1e42a4;
    --color-blue-80: #14307e;
    --color-blue-90: #0b2059;
    --color-blue-100: #051133;
}
