@import "vars";
@import "mixins";


/* Popup */
body {
    width: 350px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body.environment--ios,
body.environment--android,
body.environment--example {
    width: 100%;
}

body.environment--browser {
    height: 600px;

    &.body--theme-light {
        background: $white;
    }

    &.body--theme-dark {
        background-color: $slate;
    }
}

#popup-container {
    display: block;

    > section {
        height: 100vh;
        overflow-y: scroll;

        .environment--browser & {
            overflow-y: auto;
        }
    }

    section::-webkit-scrollbar {
        display: none;
    }

    .failover.card {
        position: absolute;
        top: 14px;
        right: 7px;
        bottom: 63px;
        left: 7px;

        p {
            padding: 7px 21px;
            color: $platinum-darker;
        }
    }

    .text-line-after-icon {
        margin-left: 12px;
    }

    .sliding-subview {
        background-color: $white;
        overflow-y: auto;

        .body--theme-dark & {
            background-color: $slate;
        }

        .body--theme-dark.environment--android & {
            background-color: $black;
        }
    }
}

@import "views/site-info";
@import "views/card-list";
@import "views/search-form";
@import "views/tracker-icons";
@import "views/hero";
@import "views/key-insight";
@import "views/top-nav";
@import "views/status-list";
@import "views/tracker-networks";
@import "views/page-connection";
@import "views/breakage-form";
@import "views/email-alias";
@import "views/cta-screens";
@import "views/note";

/* Generic menu list styling */
@include default_list();


/* Generic toggle button styling */
@include toggle_button();


/* Sliding subviews */
@include sliding_subview();

.platform-limitations {
    padding: 16px;
    text-align: center;
}
