@import 'vars';
@import 'mixins';
@import './base/tokens';

/* Popup */
body {
    @include token-body;

    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;

    --width: 360px;
    --height: 100vh;
    --bg: #{$color--dark-platinum};
    --page-bg: #{$white};
    --page-outer-bg: #{$color--dark-platinum};
    --color-text-primary: rgba(0, 0, 0, 0.84);
    --color-text-secondary: rgba(0, 0, 0, 0.6);
    --color-accent-blue: #3969ef;
    --color-lines-light: rgba(0, 0, 0, 0.12);
    --color-lines-lighter: rgba(0, 0, 0, 0.06);
    --color-hover-bg: rgba(0, 0, 0, 0.06);
    --size-unit: 16px;
    --size-unit-half: calc(var(--size-unit) / 2);
    --size-unit-double: calc(var(--size-unit) * 2);

    --btn-accent-border-radius: 8px;
    --btn-accent-border: 0.5px solid rgba(40, 145, 255, 0.05);
    --btn-accent-bg: linear-gradient(180deg, #4690f7 0%, #307bf7 100%);
    --btn-accent-bg-hover: linear-gradient(180deg, #4690f7 0%, #307bf7 100%);
    --btn-accent-bg-active: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)),
        linear-gradient(180deg, #1f8aff 0%, #0173ff 100%);
    --btn-accent-color: #ffffff;
    --btn-accent-shadow: 0px 0px 1px rgba(40, 145, 255, 0.05), 0px 1px 1px rgba(40, 145, 255, 0.1);

    // mobile environments
    &.environment--ios {
        --width: 100%;
        --height: -webkit-fill-available;
    }
    &.environment--android {
        --width: 100%;
    }

    // desktops
    &.environment--browser {
        --height: 600px;
    }

    &.environment--windows {
        --bg: #{$white};
        --btn-accent-border-radius: none;
        --btn-accent-border: 0.5px solid rgba(40, 145, 255, 0.05);
        --btn-accent-bg: #3969ef;
        --btn-accent-bg-hover: #2b55ca;
        --btn-accent-bg-active: #1e42a4;
        --btn-accent-shadow: none;
    }

    // reset custom properties based on light-theme
    &.body--theme-light {
        &.environment--ios,
        &.environment--android {
            --bg: #{$white};
        }
    }

    // reset custom properties based on dark-theme
    &.body--theme-dark {
        --text: #{$color--off-white};
        --page-bg: #{$slate};
        --bg: #{$slate-blue};
        --page-outer-bg: #{$slate-blue};
        --color-text-primary: rgba(255, 255, 255, 0.84);
        --color-text-secondary: rgba(255, 255, 255, 0.6);
        --color-accent-blue: #7295f6;
        --color-lines-light: rgba(255, 255, 255, 0.18);
        // todo(Shane): is this correct?
        --color-lines-lighter: rgba(255, 255, 255, 0.09);
        --color-hover-bg: rgba(255, 255, 255, 0.12);

        // windows uses slightly different colors for buttons
        &.environment--windows {
            --btn-accent-color: #000000;
            --btn-accent-bg: #7295f6;
            --btn-accent-bg-hover: #557ff3;
            --btn-accent-bg-active: #3969ef;
        }

        &.environment--android {
            --bg: #{$black};
            --page-bg: #{$black};
        }

        &.environment--ios {
            --bg: #{$slate};
        }
    }

    color: var(--color-text-primary);
    background: var(--bg);
    width: var(--width);
    height: var(--height);
}

// browser environments
#popup-container {
    display: block;

    > section {
        height: var(--height);
        overflow-y: scroll;

        .environment--browser & {
            overflow-y: auto;
        }
    }

    section::-webkit-scrollbar {
        display: none;
    }

    .text-line-after-icon {
        margin-left: 12px;
    }

    .sliding-subview {
        background-color: var(--page-bg);
        overflow-y: auto;
    }
}

@import 'views/toggle-button';
@import 'views/page';
@import 'views/header';
@import 'views/footer';
@import 'views/site-info';
@import 'views/card-list';
@import 'views/main-nav';
@import 'views/search-form';
@import 'views/tracker-icons';
@import 'views/hero';
@import 'views/key-insight';
@import 'views/top-nav';
@import 'views/status-list';
@import 'views/icon-list';
@import 'views/tracker-networks';
@import 'views/page-connection';
@import 'views/breakage-form';
@import 'views/email-alias';
@import 'views/cta-screens';
@import 'views/note';
@import 'views/fire-button';
@import 'views/protection-header';

/* Generic menu list styling */
@include default_list();

/* Sliding subviews */
@include sliding_subview();

.platform-limitations {
    padding: 16px 0;
    text-align: center;
}

@import '../js/ui/components/button';
@import '../js/ui/components/stack';
