.button {
    &[data-size='small'] {
        line-height: 13px;
        height: 20px;
        padding: 0px 12px;
        border-radius: 5px;
    }
    &[data-size='big'] {
        height: 50px;
        padding: 0px 24px;
        /* Button */
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 133.333% */
    }

    &[data-size='desktop-large'] {
        height: 29px;
        padding: 0px 12px;
    }

    &[data-variant='desktop-standard'] {
        background: rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.84);

        &:hover {
            background: rgba(0, 0, 0, 0.09);
        }

        &:active {
            background: rgba(0, 0, 0, 0.12);
        }

        &:disabled {
            opacity: 0.8;
        }

        .body--theme-dark & {
            background: rgba(255, 255, 255, 0.12);
            color: rgba(255, 255, 255, 0.84);

            &:hover {
                background: rgba(255, 255, 255, 0.18);
            }

            &:active {
                background: rgba(255, 255, 255, 0.24);
            }
        }

        &[data-size='desktop-large'] {
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            padding: 0 16px;
        }
    }

    &[data-variant='desktop-vibrancy'] {
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.1);

        /* Mac/Control/Vibrant */
        box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0) inset,
            0px 0px 0px 0.5px rgba(0, 0, 0, 0), 0px 0px 1px 0px rgba(0, 0, 0, 0), 0px 1px 1px 0px rgba(0, 0, 0, 0);

        &:active {
            border-radius: 6px;
            background: rgba(0, 0, 0, 0.2);

            /* Mac/Control/Vibrant */
            box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0) inset,
                0px 0px 0px 0.5px rgba(0, 0, 0, 0), 0px 0px 1px 0px rgba(0, 0, 0, 0), 0px 1px 1px 0px rgba(0, 0, 0, 0);
        }

        .body--theme-dark & {
            border-radius: 6px;
            background: rgba(255, 255, 255, 0.28);

            /* Mac/Control/Vibrant */
            box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset,
                0px 0px 0px 0.5px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);

            &:active {
                border-radius: 6px;
                background: rgba(255, 255, 255, 0.35);

                /* Mac/Control/Vibrant */
                box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset,
                    0px 0px 0px 0.5px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }

    &[data-variant='ios-secondary'] {
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid var(--color-accent-blue);
        color: var(--color-accent-blue);
        text-align: center;
        background: transparent;

        &:active {
            background: rgba(57, 105, 239, 0.2);
            color: var(--color-accent-blue-active);
        }
    }

    &[data-variant='standard'] {
        text-align: center;
        padding: 10px 12px;
        cursor: pointer;
        display: block;
        text-decoration: none;
        width: 100%;

        box-shadow: var(--btn-accent-shadow);
        border-radius: var(--btn-accent-border-radius);
        border: var(--btn-accent-border);
        color: var(--btn-accent-color);
        background: var(--btn-accent-bg);

        &:hover {
            background: var(--btn-accent-bg-hover);
        }
        &:active {
            background: var(--btn-accent-bg-active);
        }

        .environment--windows & {
            /* Windows/Label */
            box-shadow: none;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            border-radius: 4px;

            &:focus {
                /* todo(Shane): where does this live? */
                box-shadow: 0px 0px 0px 1px #ffffff, 0px 0px 0px 3px #3969ef;
            }

            &:active {
                box-shadow: none;
            }
        }
    }
}

.button-bar {
    &[data-layout='horizontal'] {
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1fr;
    }
    &[data-layout='vertical'] {
        display: flex;
        gap: 12px;
        flex-direction: column;
        > * {
            width: 100%;
        }

        .environment--android & {
            gap: 8px;
        }
    }
}

.text-link-as-button {
    &:hover {
        text-decoration: underline;
    }
    &:active {
        text-decoration: none;
    }
}
