.stack {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    &[data-debug='true'] {
        > * {
            outline: 1px dotted black;
        }
    }
}

.scrollable {
    height: 280px;
    overflow-y: scroll;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.01);
    padding: 16px 20px 20px 16px;

    .body--theme-dark & {
        background: rgba(255, 255, 255, 0.03);
        border-color: rgba(255, 255, 255, 0.09);
    }
}

.data-list {
    padding-left: 18px;
}
.data-list__item {
    word-wrap: anywhere;
    color: var(--color-text-secondary);
    line-height: 18px;

    + .data-list__item {
        margin-top: 3px;
    }
}

.ios-separator {
    padding-top: 16px;
    border-top: 1px solid var(--color-system-lines);
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
