.stack {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    &[data-debug='true'] {
        > * {
            outline: 1px dotted black;
        }
    }
}

.scrollable {
    height: 280px;
    overflow-y: scroll;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* NOTE: this is not using alpha because the custom scrollbars need to stack */
    background: rgba(252, 252, 252, 1);
    padding: 16px 20px 20px 16px;

    .body--theme-dark & {
        /* NOTE: this is not using alpha because the custom scrollbars need to stack */
        background: rgba(57, 57, 57, 1);
        border-color: rgba(255, 255, 255, 0.09);
    }

    //&::-webkit-scrollbar {
    //    width: 0.5em !important;
    //    scroll-behavior: smooth !important;
    //}
    //
    //&::-webkit-scrollbar-track {
    //    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    //}
    //
    //&::-webkit-scrollbar-thumb {
    //    background-color: rgba(0, 0, 0, 0.01) !important;
    //    outline: 1px solid rgba(0, 0, 0, 0.1) !important;
    //    border-radius: 8px !important;
    //}
    //
    //.body--theme-dark &::-webkit-scrollbar-thumb {
    //    background-color: red !important;
    //}
}

.data-list__content {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(20 / 14);

    .environment--android & {
        font-size: 14px;
        font-weight: 400;
        line-height: calc(18 / 14);
    }

    .environment--ios &,
    .environment--macos & {
        font-size: 13px;
        font-weight: 400;
        line-height: calc(18 / 13);
    }

    &--breakage {
        .environment--android &,
        .environment--browser &,
        .environment--ios &,
        .environment--macos &,
        .environment--windows & {
            font-size: 13px;
            line-height: calc(18 / 13);
        }
    }
}

.data-list__heading {
    font-weight: 600;

    .environment--android & {
        font-weight: 700;
    }
}

.data-list {
    list-style: none;
}
.data-list__item {
    word-wrap: anywhere;
    color: var(--color-text-secondary);
    position: relative;
    padding-left: 20px;

    + .data-list__item {
        margin-top: 3px;
    }
}

.data-list__item::before {
    content: '•';
    font-size: 12px;
    position: absolute;
    left: 8px;
    top: 8px;
    transform: translateY(-50%);
    color: currentColor;
}

.ios-separator {
    padding-top: 16px;
    border-top: 1px solid var(--color-system-lines);
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
