.environment--macos {
    .toggle-report[data-opener='dashboard'] {
        .top-nav {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.environment--ios [data-toggle-report='child'],
.environment--android [data-toggle-report='child'] {
    opacity: 0;
    visibility: hidden;
}
.environment--ios [data-toggle-report='child'][data-ready='true'],
.environment--android [data-toggle-report='child'][data-ready='true'] {
    opacity: 1;
    visibility: visible;
}

.toggle-report__heading {
    margin-bottom: 24px;
}
.toggle-report__scroller {
    margin-bottom: 16px;

    .scrollable {
        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.1);
            /* NOTE: this is not using alpha because the custom scrollbars need to stack */
            border: 2px solid rgba(252, 252, 252, 1);
            border-radius: 6px;
        }

        .body--theme-dark &::-webkit-scrollbar-thumb {
            /* NOTE: this is not using alpha because the custom scrollbars need to stack */
            border-color: rgba(57, 57, 57, 1);
            background: rgba(0, 0, 0, 0.3);
        }
    }
}
.toggle-report__footer {
}
