@import '../vars';
@import '../mixins';

* {
    box-sizing: border-box;
}

/* Normalize File */
@import 'normalize.scss/normalize';

/**
 * DDG Extension Resets & Base Styles
 */
h1,
h2,
h3,
h4,
h5,
h5,
p,
div {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
}

section,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    position: relative;
}

.environment--android,
.environment--ios {
    form,
    input,
    select,
    option,
    button {
        outline: none;

        * {
            outline: none;
        }
    }
}

button {
    border: none;
    background-color: $white;
    padding: 0;
}

/* Fonts */
input,
textarea,
select {
    color: $slate;
}

input,
textarea {
    .body--theme-dark & {
        color: $color--off-white;
    }
    .body--theme-dark & {
        background-color: $slate;
    }
}

.body--theme-dark.environment--windows select {
    background-color: $color--dark-theme-background;
    // todo(Shane): is this needed?
    border-color: $color--dark-theme-border;
    color: $color--off-white;
}

.body--theme-dark.environment--windows select > option {
    background-color: $slate;
}

.bold {
    font-weight: bold;
}

/* Links */
a {
    color: var(--color-accent-blue);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.link-action {
        .environment--ios &,
        .environment--android & {
            &:visited,
            &:active,
            &:hover {
                text-decoration: none;
            }
        }
    }

    &.link-action--text {
        padding: 16px 0;
        display: block;
    }
    &.link-action--text-short {
        display: block;
        padding: 12px 0;
    }
    &.link-action--text-micro {
        display: block;
        padding: 8px 0;
    }
}

/**
 * DDG Extension Helper Classes
 */

/* Hide element */
.is-hidden {
    display: none;
}

/* Position */
.pull-right {
    position: absolute;
    right: 16px;
}

.pull-left {
    position: absolute;
    left: 16px;
}

/* Display */
.block {
    display: block;
}

/* Floats */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
    height: 0;
    line-height: 0;
}

/* Text Centering */
.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

/* Borders */
.border--top {
    border-top: 1px solid var(--color-lines-light);
}

.border--bottom {
    border-bottom: 1px solid var(--color-lines-light);
}

.border-light--top {
    border-top: 1px solid var(--color-lines-lighter);
}

.border--top--inner {
    position: relative;

    &:before {
        content: '';
        border-top: 1px solid var(--color-lines-light);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.padding-x {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-spacer {
    padding-top: 24px;
}

.padding-y {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-y--reduced {
    padding-top: 14px;
    padding-bottom: 14px;
}

.padding-bottom-half {
    padding-bottom: 8px;
}

.bg-primary {
    background: white;
}

.padding-x-double {
    padding-left: 32px;
    padding-right: 32px;
}

.padded--top {
    padding: $card--padded--top;
}

.padded--no-bottom-padding {
    padding-bottom: 0;
}

/* Icons */
/* Standard icon display within the extension */
.icon {
    @include icon_display();
    /* you'll need to set the background image within each instance of .icon */

    &.icon__close {
        width: 14px;
        height: 14px;

        @include cross_platform_bg_image('close.svg');
    }

    &.icon__arrow {
        width: 12px;
        height: 12px;
        background-size: contain;

        @include cross_platform_bg_image('refresh-assets/chevron.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/chevron--light.svg');
        }

        &.icon__arrow--left {
            transform: rotate(180deg);
        }

        &.icon__arrow--large {
            width: 7px;
            margin-top: -20px;
            @include cross_platform_bg_image('arrow--large.svg');
        }
    }

    &.icon__back-arrow {
        background-size: contain;

        @include cross_platform_bg_image('refresh-assets/back-arrow.svg');

        .body--theme-dark & {
            @include cross_platform_bg_image('refresh-assets/back-arrow--light.svg');
        }

        .environment--android & {
            @include cross_platform_bg_image('refresh-assets/back-arrow-android.svg');
        }

        .body--theme-dark.environment--android & {
            @include cross_platform_bg_image('refresh-assets/back-arrow-android--light.svg');
        }

        .environment--ios & {
            @include cross_platform_bg_image('refresh-assets/back-chevron-ios.svg');
            width: 20px;
            height: 20px;

            &:before {
                content: attr(data-icon-text);
                display: block;
                height: 20px;
                line-height: 20px;
                margin-left: 20px;
            }
        }

        .body--theme-dark.environment--ios & {
            @include cross_platform_bg_image('refresh-assets/back-chevron-ios--light.svg');
        }
    }
}

.separator {
    width: 1px;
    height: 18px;
    background-color: $color--medium-light-platinum;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 7px;
}
