@import url('./reset.css');
body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    font-family: monospace;
}
.grid {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header'
        'content';
}
.header {
    border: 1px dashed black;
    grid-area: header;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'toggles requests';
    gap: 1em;
    font-size: 0.8em;
}
.toggles {
    grid-area: toggles;
}
.requests {
    grid-area: requests;
    width: 100%;
}
.content {
    padding: 1em;
    border: 1px dashed green;
    grid-area: content;
    overflow-y: scroll;
    height: 100%;
}
.frames {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    grid-gap: 10px;
}
.frame {
    display: none;
    font-family: monospace;
}
.frame[data-state='ready'] {
    display: block;
}
.code {
    overflow: scroll;
    max-height: 80vh;
    font-size: 10px;
}
form {
    gap: 1em;
}
.label {
    display: flex;
    gap: 0.5em;
}
